body {
  margin: 0;
  font-family: "Roboto Condensed"!important;
  background-image: url("./assets/memphis-mini.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  text-decoration: none;
}

span.var {
  color:black;
  background: rgba(255, 255, 0, 0.25);
}

span.var:hover {
  text-decoration: red wavy underline;
  background: rgba(255, 255, 0, 0.75);
}

span.signed-false {
  color:black;
  font-size: 3em;
}

span.signed-false:hover {
  color:greenyellow;
  transition: all 0.5s ease-in-out;
}

span.signed-true {
  color:greenyellow;
  font-size: 3em;
}

#header-container {
  margin-top: 20px;
}

#main-container {
  margin-top: 50px;
  margin-bottom: 50px;
  background: white;
  padding:50px;
  border:1px black solid;
}

.navbar {
  background-color: white;
  border:1px black dashed;
  margin-top:25px;
}

#sign-container {
  margin-top: 50px;
  margin-bottom: 50px;
  background: white;
  padding:50px;
  border:1px black solid;
}

.header-link {
  text-decoration: none;
  font-size: 1.5em;
  padding-left: 15px;
  padding-right: 15px;
}

.header-metamask-connect {
  color: green;
  background-color: transparent;
	border: 1px solid green;
	border-radius: .25rem;
  text-decoration: none;
  padding: .375rem .75rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.header-metamask-connect:hover {
  color:white;
  background-color: green;
}

.header-metamask-disconnect {
  color: #dc3545;
  background-color: transparent;
	border: 1px solid #dc3545;
	border-radius: .25rem;
  text-decoration: none;
  padding: .375rem .75rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.header-metamask-disconnect:hover {
  color:white;
  background-color: #dc3545;
}

p.button:hover {
  cursor: pointer;
  background: greenyellow;
}

div.card {
  border-radius: 0px;
}

.hidden {
  visibility: none;
}

.smart-contract-outdated {
  filter: grayscale(100%) sepia(100%);
}

.smart-contract:hover {
  transform: scale(1.005);
  filter: grayscale(0%) sepia(0%);
  transition: all 0.1s ease-in-out;
}

.row-highlight-hover:hover {
  background: yellowgreen!important;
}

.arrow {
  stroke:black;
  fill:black;
  stroke-width:2;
  marker-end: url("#arrow");
}

.arrow-highlight {
  stroke:yellowgreen;
  fill:yellowgreen;
  stroke-width:2;
  marker-end: url("#arrow-highlight");
}

.arrow-outdated {
  stroke:red;
  fill:red;
  stroke-width:2;
}

.arrow-upgrade-instr-provider {
  stroke:rgb(0, 30, 255);
  fill:rgb(0, 30, 255);
  stroke-width:2.5;
}


.arrow-upgrade-instr-provider:hover {
  stroke:rgb(255,0,0);
  fill:rgb(255, 0, 0);
  stroke-width:2.5;
}

#svg-upgrade {
  border:1px black dashed;
}

.border-dashed-black {
  border:1px black dashed;
}

.padding-5 {
  padding:5px;
}