body {
  margin: 0;
  font-family: "Roboto Condensed"!important;
  background-image: url("./assets/memphis-mini.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  text-decoration: none;
}

span.var {
  color:black;
  background: rgba(255, 255, 0, 0.25);
}

span.var:hover {
  text-decoration: red wavy underline;
  background: rgba(255, 255, 0, 0.75);
}

span.signed-false {
  color:black;
  font-size: 3em;
}

span.signed-false:hover {
  color:greenyellow;
}

span.signed-true {
  color:greenyellow;
  font-size: 3em;
}

#header-container {
  margin-top: 20px;
}

#main-container {
  margin-top: 50px;
  margin-bottom: 50px;
  background: white;
  padding:50px;
  border:1px black solid;
}

#sign-container {
  margin-top: 50px;
  margin-bottom: 50px;
  background: white;
  padding:50px;
  border:1px black solid;
}

.header-link {
  text-decoration: none;
  font-size: 1.2em;
  padding-left: 15px;
  padding-right: 15px;
}