node_modules
build
bin
.env

client/package-lock.json
client/yarn.lock

client/src/contracts/Address.json
client/src/contracts/AggregatorV3Interface.json
client/src/contracts/Context.json
client/src/contracts/Ownable.json
client/src/contracts/Pausable.json